@use "../../utils/variables.scss" as vars;

.todo_page {
  background: #f2d0a4;
  h1 {
    text-align: center;
  }

  .icon {
    color: #f2d0a4;
    font-size: 16px;
  }

  button {
    background-color: #a4303f;
  }
}

.todo-form {
  margin-bottom: 40px;
  display: flex;
  input {
    border-radius: 8px 0px 0px 8px;
  }

  button {
    width: 30%;
    border-radius: 0 8px 8px 0;
  }
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid;
  padding: 20px;
  border-radius: 8px;
  background-color: white;

  li {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    border: 1px solid;
    padding: 16px;
    border-radius: 8px;

    .checkbox-label {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      user-select: none;
      cursor: pointer;
    }

    &.completed {
      span {
        text-decoration: line-through;
      }
    }
  }

  .todo-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}

@media only screen and (min-width: vars.$layout-breakpoint-large) {
  body {
    &.todo_page {
      button {
        &:hover {
          color: #8b2a34;

          background-color: #FFECCC;

          .icon {
            color: #8b2a34;
          }
        }
      }
    }
  }
}
