$african_violet: #a679b5;
$thistle: #eac3dd;
$amethyst: #906bae;
$headings_color: #242038;
$text_color: #242038;

$degradation: linear-gradient(90deg, $african_violet 0%, $thistle 100%);

$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 1024px;

$padding_desktop: 40px;
$padding_mobile: 20px;
