@use "/src/utils/variables.scss" as vars;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  &.weather_page {
    background: vars.$degradation;

    button {
      background-color: vars.$amethyst;
    }
  }
  margin: 0;
}

h1,
h2,
h3 {
  color: vars.$headings_color;
}

p,
span,
a {
  color: vars.$text_color;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: vars.$text_color;
  font-weight: 700;
}

input:not([type="checkbox"]) {
  padding: 10px;
  border: 2px solid vars.$thistle;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: vars.$amethyst;
    box-shadow: 0 0 5px rgba(144, 107, 174, 0.5);
  }
}

.error {
  text-align: center;
  margin: 20px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: vars.$error_color;
}

main {
  padding: vars.$padding_desktop;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
}

//hovers
@media only screen and (min-width: vars.$layout-breakpoint-large) {
  body {
    &.weather_page {
      button {
        &:hover {
          background-color: vars.$african_violet;
          transform: scale(1.05);
        }
      }
    }
  }
}

//mobile styles
@media only screen and (max-width: vars.$layout-breakpoint-medium) {
  body {
  }

  main {
    padding: vars.$padding_mobile;
  }
}
